<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">
    <h2>Employers</h2>
    <div th:if="${employers.isEmpty()}">  <p>No employers!</p>
    </div>
    <ul>
        <li th:each="employer : ${employers}">
            <a th:href="@{'/employers/view/' + ${employer.id}}" th:text="${employer.name}"></a>
        </li>
    </ul>
    <a th:href="@{'/employers/add'}">Add Employers</a>

</div>

</body>
</html>